<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
             <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');">
                    <img src="images/1001.jpg" alt="ones and zeros" width="100%" height="350">
                </div>
                <div class="carousel-caption">
                    <h2>ABEBOH</h2>
                    <p>A goal is a vision with a plan and a date line</p>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');">
                    <img src="images/drive.jpg" alt="logo" width="100%" height="350">
                </div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');">
                    <img src="images/os.jpg" alt="logo" width="100%" height="350">
                </div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');">
                    <img src="images/ABEBOH.jpg" alt="logo"width="100%" height="350" >
                </div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');">
                    <img src="images/lock.jpg" alt="logo"width="100%" height="350">
                </div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
        </div>
        <div class="col-md-6">
            <h2>Welcome to ABEBOH </h2>

            ABEBOH  is a technology Company Located at Mile 18 Buea.
            Mile 18 is located along the Doula-Buea-Kumba Highway.
             ABEBOH is a software and Hardware Company founded in 2016 by Nges Brian and Co-founded by Dr. Chry Akem.
             ABEBOH has as a motto "A GOAL IS A DREAM WITH A PLAN AND A DATELINE".
             We have a vision which is to make Technology available and affordable to everyone.
             We make sure we go above client expectation, we believe happy client is good bussiness
              and best advertisement, ABEBOH team welcome's you!!!.
             At ABEBOH Our Clients are our number ONE Priority.
             At ABEBOH we have teams of well exprerienced Engineers from different
              Backgrounds and from dfferent Countries who have worked with top world 
              Technolgy Companies and on Different world leading Technology Products </p>
              With our strong Management Team, we assure you with the best Products .<br>
        </div>

    </div>

    <!-- Team Member Profiles -->

            <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="images/team/ceo.png" alt="">
                    <div class="caption">
                        <h3>NJUNGLE NGES BRIAN<br>
                            <small>THE Founder, The CEO and Project</small>
                        </h3>
                        I am a software Engineer who have passion for building Technology.<br>
                        Motto :"Work Hard and Pray Hard"
                        <ul class="list-inline">
                           <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/njunglenges.brian"
                            target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/nges-brian-6aba38111"
                 target="_blank"  data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/nges_b" target="_blank" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/108128457337391829998" target="_blank"
                 data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="images/team/cf.jpg" alt="">
                    <div class="caption">
                        <h3>Dr Chrys Nges Akem<br>
                            <small>Co- Founder and Advisory Council </small>
                        </h3>
                        I am an Argricultural Sinior Scientist who have worked on Differeent world Agricultural Projects.<br>
                        Motto : God is the Giver of Everything
                        <ul class="list-inline">
                            <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/cnakem"
                            target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/chrys-akem-28a02a54"
                target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/chrysakem"
                target="_blank" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/102718939149640853233"
                target="_blank" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="images/team/cto.png"  alt="">
                    <div class="caption">
                        <h3>Modjo Perside<br>
                            <small>CTO and Project Manager</small>
                        </h3>
                        I am a Software Engineer who loves Open Source development and development Skils.<br>
                        Motto : "Lorem ipsus dolour"
                        <ul class="list-inline">
                            <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/people/Rosalie-Monjo/100008115498694"
                            target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/perside-rosalie-8b4370115"
                 target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/107997507119636554019" 
                target="_blank" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="images/team/pg.png" alt="">
                    <div class="caption">
                        <h3>Courage Angeh<br>
                            <small>Project Manager</small>
                        </h3>
                        I am a Software Engineer who Uses the Most Recent Technologies.<br>
                        Motto :"Coding is my Passion"
                        <ul class="list-inline">
                            <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/candy.pinky.923"
                             target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/courage-angeh-01aa29122"
                   target="_blank" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/107038052150055526718" target="_blank"
                data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="images/team/pd.png" alt="">
                    <div class="caption">
                        <h3>MORFORKENG STEPHEN<br>
                            <small>Project Manager</small>
                        </h3>
                            I am a Software Engineer who loves building products that amaze people.<br>
                            Motto : "Let the Code Base Grow"<br>
                        <ul class="list-inline">
                            <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="images/team/min.png" alt="">
                    <div class="caption">
                        <h3>MADAM NJUNG MARY<br>
                            <small>Advisory Council and Spiritual Director</small>
                        </h3>
                        I am the assistant Chief os Post at CAMPOST. I Love getting things right<br>
                        Motto : " Let God Decides"
                        <ul class="list-inline">
                        <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    <!-- Our Customers -->

    <div class="row">
    <br><br>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/team/mat.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/team/ke.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

    </div>

</div>
<!-- /.container -->
