<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link type="text/css" href="css/styles.css" rel="stylesheet" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div id="menu-holder">

        <div class="price_table">
        <div class="column_1">
            <ul>
                <li class="header_row_1 align_center">
                    <div class="pack-title">Basic</div>
                </li>
                <li class="header_row_2 align_center">
                    <div class="price"><span>$29</span></div>
                    <div class="time">per year</div>
                </li>
                <li class="row_style_1 align_center"><span>Lorem ipsum dolor sit</span></li>
                <li class="row_style_1 align_center"><span>Praesent ac elit</span></li>
                <li class="row_style_1 align_center"><span>Duis quis risus enim</span></li>
                <li class="row_style_1 align_center no-option"><span>Suspendisse rutrum nulla</span></li>
                <li class="row_style_1 align_center no-option"><span>Quisque mauris urna feugiat</span></li>
                <li class="row_style_footer_1"><a href="#" class="buy_now">Sign Up</a></li>
            </ul>
        </div><!--end column-->

        <div class="column_1">
            <ul>
                <li class="header_row_1 align_center">
                    <div class="pack-title">Professional</div>
                </li>
                <li class="header_row_2 align_center">
                    <div class="price"><span>$69</span></div>
                <div class="time">per year</div>
                </li>
                <li class="row_style_2 align_center"><span>Lorem ipsum dolor sit</span></li>
                <li class="row_style_2 align_center"><span>Praesent ac elit</span></li>
                <li class="row_style_2 align_center"><span>Duis quis risus enim</span></li>
                <li class="row_style_2 align_center"><span>Suspendisse rutrum nulla</span></li>
                <li class="row_style_2 align_center no-option"><span>Quisque mauris urna feugiat</span></li>
                <li class="row_style_footer_2"><a href="#" class="buy_now">Sign Up</a></li>
            </ul>
        </div><!--end column-->

        <div class="column_1">
            <ul>
                <li class="header_row_1 align_center">
                    <div class="pack-title">Extended</div>
                </li>
                <li class="header_row_2 align_center">
                    <div class="price"><span>$179</span></div>
                    <div class="time">per year</div>
                </li>
                <li class="row_style_1 align_center"><span>Lorem ipsum dolor sit</span></li>
                <li class="row_style_1 align_center"><span>Praesent ac elit</span></li>
                <li class="row_style_1 align_center"><span>Duis quis risus enim</span></li>
                <li class="row_style_1 align_center"><span>Suspendisse rutrum nulla</span></li>
                <li class="row_style_1 align_center"><span>Quisque mauris urna feugiat</span></li>
                <li class="row_style_footer_1"><a href="#" class="buy_now">Sign Up</a></li>
            </ul>
        </div><!--end column-->

    </div><!--end price table-->
        <div class="column-clear"></div>
            <div class="content">
            <p>Our Prices Can be negotiated and We love Good Permenent clients</p>
            <p id="home"><a class="go" href="http://www.flashuser.net/tutorials/free-pricing-table-ui-element.html" title="">Abeboh services just for you</a></p>
        </div>

</div><!--end menu-holder-->

</body>
</html>
