<li>use of embedded Operating system e.g Mynewt OS.</li>
                            <li>Use of Latest version of Microcontrollers Boards</li>
                             Use of design frameworks such as ; 
                            <li>CSS5 with web and Mobile Responsiveness</li> 
                            <li>Brootsrap Framework 3</li>
                            <li>AngularJs </li>
                            <li>Jquery</li> 
                            <li>The Most Secured and Complex Yii2 </li> <li> The Most Widely Used Laravel5 </li> <li>etc</li>
                            
                            
